.page-node-type-free-registration .layout-region--node-secondary {
  display: none;
}

.simple-xml .claro-details {
  display: none;
}

/* Hide Right Sidebar */

.hide-published .layout-region--node-secondary {
  display: none;
}
